In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
x=pd.read_csv("E:\\chrome_downloads\\Microsoft Dataset.csv")
x.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  1986-03-13  0.088542  0.101563  0.088542  0.097222   0.060055  1031788800
1  1986-03-14  0.097222  0.102431  0.097222  0.100694   0.062199   308160000
2  1986-03-17  0.100694  0.103299  0.100694  0.102431   0.063272   133171200
3  1986-03-18  0.102431  0.103299  0.098958  0.099826   0.061663    67766400
4  1986-03-19  0.099826  0.100694  0.097222  0.098090   0.060591    47894400

In [4]:
x1=x[["High","Low"]]
y1=x["Open"]
x1=x1.to_numpy()
y1=y1.to_numpy()
y1=y1.reshape(-1,1)
x1_train,x1_test,y1_train,y1_test=train_test_split(x1,y1,test_size=0.30,random_state=42)
model=LinearRegression()
model.fit(x1_train,y1_train)
y1pred=model.predict(x1_test)
data=pd.DataFrame(data={"predicted rate":y1pred.flatten()})
print(data.head())

   predicted rate
0       54.505238
1       26.356790
2       26.656365
3       12.152640
4        3.118832